:root {
        --ic-brand-primary-darkened-5: #005F9C;
--ic-brand-primary-darkened-10: #005A94;
--ic-brand-primary-darkened-15: #00558C;
--ic-brand-primary-lightened-5: #0C6BA8;
--ic-brand-primary-lightened-10: #1973AD;
--ic-brand-primary-lightened-15: #267BB1;
--ic-brand-button--primary-bgd-darkened-5: #005F9C;
--ic-brand-button--primary-bgd-darkened-15: #00558C;
--ic-brand-button--secondary-bgd-darkened-5: #1A3A68;
--ic-brand-button--secondary-bgd-darkened-15: #17345D;
--ic-brand-font-color-dark-lightened-15: #606060;
--ic-brand-font-color-dark-lightened-28: #787878;
--ic-link-color-darkened-10: #005A94;
--ic-link-color-lightened-10: #1973AD;
--ic-brand-primary: #0064A4;
--ic-brand-font-color-dark: #444444;
--ic-link-color: #0064A4;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #1B3D6D;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #0064A4;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: var(--ic-link-color);
--ic-brand-global-nav-avatar-border: #FFD200;
--ic-brand-global-nav-menu-item__badge-bgd: #1B3D6D;
--ic-brand-global-nav-menu-item__badge-bgd--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #FFFFFF;
--ic-brand-global-nav-menu-item__badge-text--active: #ffffff;
--ic-brand-global-nav-logo-bgd: #0064A4;
--ic-brand-header-image: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/989476/uci.png');
--ic-brand-mobile-global-nav-logo: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/989477/uci.png');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/989478/uci-blue.png');
--ic-brand-apple-touch-icon: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/989479/uci-blue.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/989480/uci-blue.png');
--ic-brand-msapplication-tile-wide: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/989481/utsa-color%20copy.png');
--ic-brand-right-sidebar-logo: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/989482/uci-wide.png');
--ic-brand-Login-body-bgd-color: #0064A4;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #f2f2f2;
--ic-brand-Login-logo: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/989484/uci-blue%20copy.png');
--ic-brand-Login-Content-bgd-color: #ffffff;
--ic-brand-Login-Content-border-color: #efefef;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #444444;
--ic-brand-Login-Content-password-text-color: #444444;
--ic-brand-Login-footer-link-color: #2773e2;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #aaaaaa;
      }